$base-font-size: 16px;
$main-color: #fff;
$second-color: #000;
$third-color: #1abc9c;
$regular-font: "Circe-Regular", Arial, sans-serif;
$extra-bold-font: "Circe-ExtraBold", Arial, sans-serif;
$bold-font: "Circe-Bold", Arial, sans-serif;
